.part{
    margin: 150px;
   
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    background-color: #9EAD84;
    color: white;
    font-size: 20px;
    max-width: 50%;
  
}

#titre{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#soustitre{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 7px;
}

.part ul{
    font-size: 15px;
    margin-bottom: 15px;
}

body{
    background-color: #ffffff;
}