.part{
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    background-color: #9EAD84;
    color: white;
    font-size: 20px;
    max-width: 50%;


}

.container-main{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
    gap: 100px;
}

#titre{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#soustitre{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 7px;
}

.part ul{
    font-size: 15px;
    margin-bottom: 15px;

}

.part ul li{
    justify-content: center;

}

body{
    background-color: #ffffff;
}

.logomere{
    display: flex;
    align-items: center;
    margn-top:25px;
    margin-bottom:25px;
}

.logo{
    max-width: 100px;
    max-height: 100px;
    border-radius: 360px;
    margin-right: 10px;
    

}

.txt{
    opacity: 0;
    color: white;
}

 
 .logomere:hover .txt{
    opacity: 1;
    transition: 0.7s;
 }

 .logomere:hover .logo{
    opacity: 0;
    transition: 0.7s;
 }

 .logomere .txt{
    transition: 0.7s;
    position:absolute;
 }

.logomere .logo{
    transition: 0.7;
}
